---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Body from '../components/Main.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import { Container, ContentBox } from '../components/essentials';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
        new Date(a.frontmatter.pubDate).valueOf()
);
const postsNonDraft = posts.filter((post) => !post.frontmatter.draft);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
            ul {
                list-style-type: none;
                padding: unset;
            }
            ul li {
                display: flex;
            }
            ul li time {
                flex: 0 0 130px;
                font-style: italic;
                color: #595959;
            }
            ul li a:visited {
                color: #8e32dc;
            }
    </style>
  </head>
  <Body>
    <Header />
    <main>
      <Container>
        <section>
          <h2 class="text-center font-bold text-2xl text-slate-800 dark:text-slate-50">Blog Entries</h2>
          <div class="grid grid-cols-1 md:grid-cols-2 md:transition-all lg:grid-cols-3">
            {
              postsNonDraft.map((post) => (
                <ContentBox
                  title={post.frontmatter.title}
                  imgSrc={`${post.frontmatter.heroImage}`}
                  href={`${post.url}`}
                  description={post.frontmatter.description}
                />
              ))
            }
          </div>
        </section>
      </Container>
    </main>
    <Footer />
  </Body>
</html>
