---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Body from '../components/Main.astro';
import TocSidebar from '../components/TocSidebar';
import TocToggler from '../components/TocToggler';
import { Container, BlogPostContainer } from '../components/essentials';
import '../styles/blog.css';

export interface Props {
    content: {
        title: string;
        description: string;
        pubDate?: string;
        updatedDate?: string;
        heroImage?: string;
        draft?: boolean;
    };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style>
            .title {
                font-size: 2em;
            }
            hr {
                border-top: 1px solid #ddd;
                margin: 1rem 0;
            }
    </style>
  </head>

  <Body>
    <Header />
    <main>
      <Container className="lg:flex">
        <BlogPostContainer>
          <article>
            {
              heroImage && (
                <img
                  width={720}
                  height={360}
                  src={heroImage}
                  alt=""
                  class="rounded-lg"
                />
              )
            }
            <h1 class="title mt-10 text-inherit">{title}</h1>
            {pubDate && <time class="text-inherit">{pubDate}</time>}
            {
              updatedDate && (
                <div class="text-inherit">
                                    Last updated on{' '}
                  <time class="text-inherit">
                    {updatedDate}
                  </time>
                </div>
              )
            }
            <hr />
            <slot />
          </article>
        </BlogPostContainer>
        <div>
          <div
            class="hidden lg:block max-h-[calc(100vh-4rem)] overflow-y-auto w-60 p-2 bg-inherit rounded-lg lg:sticky lg:top-16 drop-shadow-lg shadow-cyan-800"
          >
            <TocSidebar headings={Astro.props.headings} />
          </div>
          <TocToggler headings={Astro.props.headings} client:load />
        </div>
      </Container>
    </main>
    <Footer />
  </Body>
</html>
